# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node / Next.js
node_modules/
.next/
out/
build/
.DS_Store

# Data
dataset.csvsiem/bert_security_model/
siem/mitre_attack.json
siem/test_engine.py
siem/bert_security_model/
